body{
	margin: 0 auto;
	padding: 0px;
}
@font-face {
    font-family: 'superspace_regularregular';
    src: url('../fonts/superspace_regular_ver_1.00-webfont.woff2') format('woff2'),
         url('../fonts/superspace_regular_ver_1.00-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.banner-box{
	width: 100%;
	height: 475px;
	background-color: #29363F;
	background-image: url(../img/banner7.jpg);
	float: left;
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center; 
}
.logout-box{
	width: 100%;
	height: 20px;
	float: left;
	color: #FFFFFF;
}
.name-login-box{
	width: 120px;
	height: 20px;
	float: right;
}
.name-box{
	width: 90px;
	height: 17px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	text-align: right;
	color: #FFFFFF;
	padding-top: 3px;
}
.detail-logout-box{
	width: 20px;
	height: 20px;
	float: right;
	margin-right: 10px;
	margin-top: 4px;
}
.detail-logout-box i{
	margin-left: 9px;
	color: #FFFFFF;
}
.picture_box{
	width: 100px;
	height: 100px;
	position: absolute;
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    cursor: zoom-in;  
}

.logo-bg-box{
	width: 100%;
	height: 65px;
	float: left;
	margin-top: 10px;
}
.logo-box{
	width: 65px;
	height: 65px;
	margin: 0 auto;
}
.menu-bg-box{
	width: 100%;
	height: 20px;
	float: left;
	margin-top: 10px;
}
.menu-box{
	width: 345px;
	height: 20px;
	margin: 0 auto;
}
.menu-1{
	width: 69px;
	height: 20px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
}
.menu-2{
	width: 69px;
	height: 20px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
}
.menu-3{
	width: 69px;
	height: 20px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
}
.menu-4{
	width: 69px;
	height: 20px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
}
.menu-5{
	width: 69px;
	height: 20px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
}
.detail-bg-box{
	width: 100%;
	height: 95px;
	float: left;
	margin-top: 125px;
}
.detail-box{
	width: 275px;
	height: 95px;
	margin: 0 auto;
	font-family: 'superspace_regularregular';
	font-size: 40px;
	text-align: center;
	color: #FFFFFF;
}
.about-bg-box{
	width: 100%;
	height: 230px;
	float: left;
	border-bottom: 1px solid #C9C9C9;
}
.about-box{
	width: 100%;
	height: 50px;
	float: left;
	margin-top: 35px;
}
.detail-header-box{
	width: 150px;
	height: 50px;
	margin: 0 auto;
	font-family: 'superspace_regularregular';
	font-size: 30px;
	text-align: center;
	color: #000000;
}
.detail-about-bg-box{
	width: 100%;
	height:70px;
	float: left;
	margin-top: 40px;
}
.detail-about-box{
	width: 450px;
	height: 100px;
	margin: 0 auto;
	font-family: 'superspace_regularregular';
	font-size: 16px;
	text-align: center;
	color: #000000;
	padding-top: -15px;
}
.cata-bg-box{
	width: 100%;
	height: 220px;
	float: left;
}
.cata-header-bg-box{
	width: 100%;
	height: 50px;
	float: left;
	margin-top: 35px;
}
.cata-header-box{
	width: 250px;
	height: 50px;
	background-color: #FFFFFF;
	margin: 0 auto;
	font-family: 'superspace_regularregular';
	font-size: 30px;
	text-align: center;
	color: #000000;
}
.cata-detail-bg-box{
	width: 100%;
	height: 65px;
	float: left;
	margin-top: 40px;
}
.cata-subdetail-bg-box{
	width: 585px;
	height: 65px;
	margin: 0 auto;
}
.cata-box-1{
	width: 92px;
	height: 42px;
	/*background-image: url(../img/button.jpg);*/
	background-color: #29363F;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 23px;
	border: 1px solid #000000;
	cursor: pointer;
}
.cata-box-2{
	width: 92px;
	height: 42px;
	/*background-image: url(../img/button.jpg);*/
	background-color: #29363F;
	float: left;
	margin-left: 4px;
	font-family: 'superspace_regularregular';
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 23px;
	border: 1px solid #000000;
}
.cata-box-3{
	width: 92px;
	height: 42px;
	/*background-image: url(../img/button.jpg);*/
	background-color: #29363F;
	float: left;
	margin-left: 4px;
	font-family: 'superspace_regularregular';
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 23px;
	border: 1px solid #000000;
}
.cata-box-4{
	width: 92px;
	height: 42px;
	/*background-image: url(../img/button.jpg);*/
	background-color: #29363F;
	float: left;
	margin-left: 4px;
	font-family: 'superspace_regularregular';
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 23px;
	border: 1px solid #000000;
}
.cata-box-5{
	width: 92px;
	height: 40px;
	/*background-image: url(../img/button.jpg);*/
	background-color: #29363F;
	float: left;
	margin-left: 4px;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 25px;
	border: 1px solid #000000;
}
.cata-box-6{
	width: 92px;
	height: 42px;
	/*background-image: url(../img/button.jpg);*/
	background-color: #000000;
	float: left;
	margin-left: 4px;
	font-family: 'superspace_regularregular';
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 23px;
	border: 1px solid #000000;
}
.cata-box-2:hover{
	background-color: #000000;
	cursor: pointer;
}
.cata-box-3:hover{
	background-color: #000000;
	cursor: pointer;
}
.cata-box-4:hover{
	background-color: #000000;
	cursor: pointer;
}
.cata-box-5:hover{
	background-color: #000000;
	cursor: pointer;
}
.cata-box-6:hover{
	background-color: #000000;
	cursor: pointer;
}
.show-box{
	width: 100%;
	height: 320px;
	float: left;
	border-bottom: 1px solid #C9C9C9;
}
.show-bg-box{
	width: 100%;
	height: 280px;
	float: left;
	margin-top: 20px;
}
.show-bg-subbox{
	width: 900px;
	height: 280px;
	margin: 0 auto;
	background-color: #000000;
}
.show-box-1{
	width: 150px;
	height: 280px;
	background-image: url(../img/banner2.jpg);
	background-color: #000000;
	float: left;
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7;
}
.show-box-2{
	width: 150px;
	height: 280px;
	background-image: url(../img/banner3.jpg);
	background-color: #919191;
	float: left;
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7;
}
.show-box-3{
	width: 150px;
	height: 280px;
	background-image: url(../img/banner2.jpg);
	background-color: #29363F;
	float: left;
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7;
}
.show-box-4{
	width: 150px;
	height: 280px;
	background-image: url(../img/banner3.jpg);
	background-color: #919191;
	float: left;
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7;
}
.show-box-5{
	width: 150px;
	height: 280px;
	background-image: url(../img/banner2.jpg);
	background-color: #29363F;
	float: left;
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7;
}
.show-box-6{
	width: 150px;
	height: 280px;
	background-image: url(../img/banner3.jpg);
	background-color: #919191;
	float: left;
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7;
}
.menu-2:hover{
	color: #6ED9A1;
	text-decoration: none;
}
.menu-3:hover{
	color: #6ED9A1;
	text-decoration: none;
}
.menu-4:hover{
	color: #6ED9A1;
	text-decoration: none;
}
.menu-5:hover{
	color: #6ED9A1;
	text-decoration: none;
}
.menu-2{
	color: #C9C9C9;
	text-decoration: none;
}
.menu-3{
	color: #C9C9C9;
	text-decoration: none;
}
.menu-4{
	color: #C9C9C9;
	text-decoration: none;
}
.menu-5{
	color: #C9C9C9;
	text-decoration: none;
}
.triangle-topleft{
	width: 0px;
	height: 20px;
	border-top: 30px solid #000000;
	border-right: 30px solid transparent;
	float: left;
}
.triangle-text{
	margin-top: -28px;
	margin-left: 3px;
	color: #FFFFFF;
	font-size: 12px;
	font-family: 'superspace_regularregular';
}
.status-box-1{
	width: 150px;
	height: 60px;
	background-color: #000000;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.7;
	margin-top: 220px;
}
#name-status-box-1{
	width: 150px;
	height: 18px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 13px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 2px;
}
#tagname-status-box-1{
	width: 150px;
	height: 18px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 10px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 2px;
}
#statuslist-box-1{
	width: 150px;
	height: 18px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 10px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 2px;
}
.icon-bg-box-1{
	width: 40px;
	height: 20px;
	float: left;
	margin-left: 17px;
}
.icon-bg-box-2{
	width: 40px;
	height: 20px;
	float: left;
}
.icon-bg-box-3{
	width: 40px;
	height: 20px;
	float: left;
}
.icon-box-1{
	width: 20px;
	height: 18px;
	float: left;
	color: #FFFFFF;
	padding-top: 2px;
}
.icon-box-2{
	width: 20px;
	height: 18px;
	float: left;
	color: #FFFFFF;
	padding-top: 2px;
}
.icon-box-3{
	width: 20px;
	height: 18px;
	float: left;
	color: #FFFFFF;
	padding-top: 2px;
}
.statistic-box-1{
	width: 20px;
	height: 19px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 10px;
	text-align: left;
	color: #FFFFFF;
	padding-top: 1px;
}
.statistic-box-2{
	width: 20px;
	height: 19px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 10px;
	text-align: left;
	color: #FFFFFF;
	padding-top: 1px;
}
.statistic-box-3{
	width: 20px;
	height: 19px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 10px;
	text-align: left;
	color: #FFFFFF;
	padding-top: 1px;
}
.contact-bg-box{
	width: 100%;
	height: 155px;
	float: left;
	background-image: url(../img/banner7.jpg);
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}
.contact-box{
	width: 1024px;
	height: 155px;
	margin: 0 auto;
}
.show-box-1:hover{
	width: 150px;
	height: 280px;
	background-image: url(../img/banner2.jpg);
	background-color: #000000;
	float: left;
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    cursor: pointer;
}
.show-box-2:hover{
	width: 150px;
	height: 280px;
	background-image: url(../img/banner3.jpg);
	background-color: #000000;
	float: left;
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    cursor: pointer;
}
.show-box-3:hover{
	width: 150px;
	height: 280px;
	background-image: url(../img/banner2.jpg);
	background-color: #000000;
	float: left;
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    cursor: pointer;
}
.show-box-4:hover{
	width: 150px;
	height: 280px;
	background-image: url(../img/banner3.jpg);
	background-color: #000000;
	float: left;
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    cursor: pointer;
}
.show-box-5:hover{
	width: 150px;
	height: 280px;
	background-image: url(../img/banner2.jpg);
	background-color: #000000;
	float: left;
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    cursor: pointer;
}
.show-box-6:hover{
	width: 150px;
	height: 280px;
	background-image: url(../img/banner3.jpg);
	background-color: #000000;
	float: left;
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    cursor: pointer;
}
.detail-contact-box{
	width: 1024px;
	height: 100px;
	float: left;
	text-align: center;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	color: #FFFFFF;
	margin-top: 10px;
}
.contact-header-box{
	width: 100%;
	height: 70px;
	float: left;
	margin-top: 35px;
}
.social-bg-box{
	width: 200px;
	height: 20px;
	margin: 0 auto;
}
.facebook-box{
	width: 20px;
	height: 20px;
	float: left;
	font-size: 20px;
	color: #FFFFFF;
}
.google-box{
	width: 20px;
	height: 20px;
	float: left;
	font-size: 20px;
	color: #FFFFFF;
	margin-left: 10px;
}
.twitter-box{
	width: 20px;
	height: 20px;
	float: left;
	font-size: 20px;
	color: #FFFFFF;
	margin-left: 10px;
}
.facebook-box:hover{
	color: #6ED9A1;
	cursor: pointer;
}
.google-box:hover{
	color: #6ED9A1;
	cursor: pointer;
}
.twitter-box:hover{
	color: #6ED9A1;
	cursor: pointer;
}
.copy-bg-box{
	width: 100%;
	height: 20px;
	background-color: #000000;
	float: left;
}
.copy-box{
	width: 1024px;
	height: 15px;
	margin: 0 auto;
	text-align: center;
	font-family: 'superspace_regularregular';
	font-size: 10px;
	color: #FFFFFF;
	padding-top: 5px;
}
.detail-ct-box{
	width: 400px;
	height: 100px;
	background-color: #545455;
	float: left;
}
.header-right-bg-box{
	width: 220px;
	height: 65px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	color: #6ED9A1;
	text-align: left;
	margin-left: 250px;
	margin-top: 40px;
}
.detail-right-bg-box{
	width: 220px;
	height: 60px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	color: #FFFFFF;
}
.detail-right-box{
	width: 220px;
	height: 20px;
	float: left;
}
.detail-right-box-1{
	width: 20px;
	height: 20px;
	float: left;
	font-size: 14px;
}
.header-right-bg-box-2{
	width: 220px;
	height: 65px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	color: #6ED9A1;
	text-align: left;
	margin-left: 40px;
	margin-top: 40px;
}
.header-right-bg-box-3{
	width: 220px;
	height: 65px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	color: #6ED9A1;
	text-align: left;
	margin-top: -60px;
	margin-left: 720px;
}
