body{
	width: 1024px;
	background-color: #29363F;
	margin: 0 auto;
	padding: 0;
}
@font-face {
    font-family: 'superspace_regularregular';
    src: url('../fonts/superspace_regular_ver_1.00-webfont.woff2') format('woff2'),
         url('../fonts/superspace_regular_ver_1.00-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.wrapper-box{
	width: 1024px;
	height: 650px;
	background-color: #29363F;
	float: left;
}
.logo-bg-box{
	width: 512px;
	height: 650px;
	float: left;
}
.logo-box{
	width: 512px;
	height: 250px;
	float: left;
	margin-top: 200px;
	border-right: 1px solid #919191;
}
.logo{
	width: 300px;
	height: 150px;
	background-image: url(../img/logologin.png);
	margin: 0 auto;
	margin-top: 50px;
}
.text-bg-box{
	width: 512px;
	height: 650px;
	float: left;
}
.text-box{
	width: 512px;
	height: 250px;
	float: left;
	margin-top: 195px;
}
.text-box-1{
	width: 512px;
	height: 35px;
	float: left;
	margin-top: 50px;
}
.text-box-2{
	width: 512px;
	height: 35px;
	float: left;
	margin-top: 15px;
}
.submit-box{
	width: 512px;
	height: 35px;
	float: left;
	margin-top: 5px;
}
.text-1{
	width: 300px;
	height: 35px;
	margin: 0 auto;
}
.text-2{
	width: 300px;
	height: 35px; 
	margin: 0 auto;
}
.text-1 input{
	width: 290px;
	height: 35px;
	background-color: #29363F;
	margin: 0 auto;
	border-radius: 5px;
	padding-left: 10px;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	color: #FFFFFF;
}
.text-2 input{
	width: 290px;
	height: 35px;
	background-color: #29363F;
	margin: 0 auto;
	border-radius: 5px;
	padding-left: 10px;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	color: #FFFFFF;
}
.submit{
	width: 300px;
	height: 35px;
	margin: 0 auto;
}
.submit input{
	width: 290px;
	height: 35px;
	background-color: #6ED9A1;
	margin: 0 auto;
	border-radius: 5px;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	color: #FFFFFF;
}
.create-box{
	width: 405px;
	height: 20px;
	float: left;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	color: #919191;
	margin-top: 35px;
	padding-left: 107px;
}
.create-box:hover{
	color: #FFFFFF;
}
.text-content{
	width: 290px;
	height: 23px;
	margin: 0 auto;
	border-radius: 5px;
	font-family: 'superspace_regularregular';
	font-size: 14px;
	color: #FF5555;
	text-align: center;
	padding-top: 2px;
}